<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee</title>
    <link href="assets/style.css" rel="stylesheet">
</head>
<body>
    <form method="POST" action='form-data'>
        <h1>Add Employee Data</h1><br>
        <div class='data'>
            <label for='name'>Name:</label>
            <input type='text' name='name'>
        </div>

        <div class='data'>
            <label for='email'>E-mail:</label>
            <input type='email' name='email'>
        </div>

        <div class='data'>
            <label for='age'>Age:</label>
            <input type='number' name='age'>
        </div>

        <div class='data'>
            <label for='salary'>Salary:</label>
            <input type='number' name='salary'>
        </div><br>

        <input type='submit' class="btn">

    </form>
</body>
</html>