<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <link href="assets/style.css" rel="stylesheet">
    <style>
        .opt{
            text-decoration: none;
            padding: 1rem 1.3rem;
            border: 2px solid black;
            margin-top: 0.7rem;
            margin-bottom: 0.7rem;
            width: 80%;
            text-align: center;
        }
    </style>
</head>
<body>
    <form>
        <h1>Select the Option</h1>
        <a href='empInsert' class='opt'>Add Employee Information</a>
        <a href='nameId' class='opt'>Get Employee Information</a>
        <a href='deleteEmployee' class='opt'>Delete Employee Information</a>
        

        </form>
</body>
</html>